.linkButton {
    background-color: #318bdf;
  }
  
  /* style for input and label */
  .group        { 
      position:relative; 
      margin-bottom:45px; 
    }
    input         {
      font-size:1.5rem;
      padding:1rem;
      display:block;
      width:50%;
      border:none;
      border-bottom:1px solid #757575;
    }
    input:focus     { outline:none; }
    
    /* LABEL ======================================= */
    label          {
      color:rgb(30, 139, 202); 
      font-size:1.2rem;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:0.5rem;
      top:-2rem;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    
    /* active state */
    input:focus ~ label, input:valid  ~ label  {
      top:-2rem;
      font-size:1.2rem;
      color:#1a1f71;
    }
    
    /* BOTTOM BARS ================================= */
    .bar  { position:relative; display:block; width:300px; }
    .bar:before, .bar:after   {
      content:'';
      height:0.1rem; 
      width:0;
      bottom:0.1rem; 
      position:absolute;
      background:#1a1f71; 
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%; 
    }
    
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }
    
    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%; 
      width:5rem; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    
    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }
    
    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
      to  { width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
      to  { width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
      from { background:#5264AE; }
      to  { width:0; background:transparent; }
    }