section {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  /* margin-right: auto; */
}

.cardItem {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: auto;
}
button {
  width: max-content;
  margin: 2rem;
}
article {
  border: 1px solid black;
  
  text-align: center;
  width: 30%;
}

p {
  color: black;
}
