h1 {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
