:root {
  --font-color: #fff;
  --font-size: 1rem;
  --header-bg: #1a1f71;
  --hover-font-color: #b3c7e6;
}

*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-size);
  color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.linkClass {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
}

.linkClass:hover{
  color: var(--hover-font-color);
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
